In [57]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import plotly.express as px

In [58]:
data = pd.read_csv('complete.csv')

In [59]:
state=28
UT=8
total_states_UT=state+UT
No_afftected_states=len(pd.unique(data['Name of State / UT']))
States_not_affected=total_states_UT-No_afftected_states
pie_data= [['Number of afftected States', No_afftected_states], ['Number of Unafftected States', States_not_affected]]

In [77]:
df=pd.read_csv('complete.csv')
df['datetime'] = pd.to_datetime(data['Date'])
df.index = df['datetime']

In [78]:
line=df.resample('D').sum()

In [79]:
type(line.index.tolist())

list

In [93]:
state=pd.read_csv('complete.csv')
state=state.groupby(['Name of State / UT']).max()
statewise=(state['Total Confirmed cases (Indian National)']+state['Total Confirmed cases ( Foreign National )']).tolist()

In [98]:
state.index.tolist()

['Andhra Pradesh',
 'Delhi',
 'Haryana',
 'Karnataka',
 'Kerala',
 'Maharashtra',
 'Odisha',
 'Punjab',
 'Rajasthan',
 'Tamil Nadu',
 'Telengana',
 'Union Territory of Jammu and Kashmir',
 'Union Territory of Ladakh',
 'Uttar Pradesh',
 'Uttarakhand']

In [42]:
len(pd.unique(data['Name of State / UT']))

15

In [84]:
line

,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged,Latitude,Longitude,Death
datetime,,,,,,
2020-01-30,1,0,0,10.8505,76.2711,0
2020-01-31,1,0,0,10.8505,76.2711,0
2020-02-01,2,0,0,10.8505,76.2711,0
2020-02-02,3,0,0,10.8505,76.2711,0
2020-02-03,3,0,0,10.8505,76.2711,0
2020-02-04,3,0,0,10.8505,76.2711,0
2020-02-05,3,0,0,10.8505,76.2711,0
2020-02-06,3,0,0,10.8505,76.2711,0
2020-02-07,3,0,0,10.8505,76.2711,0
2020-02-08,3,0,0,10.8505,76.2711,0
2020-02-09,3,0,0,10.8505,76.2711,0
2020-02-10,3,0,0,10.8505,76.2711,0
2020-02-11,3,0,0,10.8505,76.2711,0
2020-02-12,3,0,0,10.8505,76.2711,0
2020-02-13,3,0,0,10.8505,76.2711,0
2020-02-14,3,0,0,10.8505,76.2711,0
2020-02-15,3,0,0,10.8505,76.2711,0
2020-02-16,3,0,0,10.8505,76.2711,0
2020-02-17,3,0,0,10.8505,76.2711,0
2020-02-18,3,0,0,10.8505,76.2711,0
2020-02-19,3,0,0,10.8505,76.2711,0
2020-02-20,3,0,0,10.8505,76.2711,0
2020-02-21,3,0,0,10.8505,76.2711,0
2020-02-22,3,0,0,10.8505,76.2711,0
2020-02-23,3,0,0,10.8505,76.2711,0
2020-02-24,3,0,0,10.8505,76.2711,0
2020-02-25,3,0,0,10.8505,76.2711,0
2020-02-26,3,0,0,10.8505,76.2711,0
2020-02-27,3,0,0,10.8505,76.2711,0
2020-02-28,3,0,0,10.8505,76.2711,0
2020-02-29,3,0,0,10.8505,76.2711,0
2020-03-01,3,0,0,10.8505,76.2711,0
2020-03-02,5,0,0,57.6670,232.3929,0
2020-03-03,5,1,3,84.6908,306.6108,0
2020-03-04,12,16,3,140.5963,463.6426,0
2020-03-05,14,16,3,140.5963,463.6426,0
2020-03-06,15,16,3,140.5963,463.6426,0
2020-03-07,18,16,3,186.0230,620.5927,0
2020-03-08,23,16,3,186.0230,620.5927,0
2020-03-09,30,16,3,286.0171,923.9379,0
2020-03-10,42,16,3,286.0171,923.9379,0
2020-03-11,52,16,3,286.0171,923.9379,0
2020-03-12,57,17,3,301.9300,1003.6779,1
2020-03-13,58,17,3,301.9300,1003.6779,1
2020-03-14,67,17,10,301.9300,1003.6779,2
2020-03-15,94,17,13,331.9968,1082.6972,2
2020-03-16,97,17,13,352.9485,1167.7957,2
2020-03-17,97,17,13,352.9485,1167.7957,2

In [85]:
data.head()

,Date,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged,Latitude,Longitude,Death
0,2020-01-30,Kerala,1,0,0,10.8505,76.2711,0
1,2020-01-31,Kerala,1,0,0,10.8505,76.2711,0
2,2020-02-01,Kerala,2,0,0,10.8505,76.2711,0
3,2020-02-02,Kerala,3,0,0,10.8505,76.2711,0
4,2020-02-03,Kerala,3,0,0,10.8505,76.2711,0